body {
  font-family: 'Nunito', sans-serif;
  background-image: url(../img/endless.webp);
}

.card-panel {
  border-radius: 10px;
}

#infoDiv, #sizeDiv, #topDiv, #cartDiv, #cartResult {
  display: none;
}

#homeDiv:hover {
  cursor: pointer;
}

#infoDiv {
  margin-bottom: 40px;
}

#sizeDiv {
  margin-bottom: 140px;
}

#cartDiv {
  margin-bottom: 170px;
}
